<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Faculty report</title>
</head>

<body>

<div class="col-xs-12 col-sm-9" id="attendance-page"  layout:fragment="main-content">
    <form th:action="@{/faculty/report}">
        <div class="form-group">
            <label>Section: </label>
            <select>
                <option selected value="">Select Section</option>
                <option value="TMS">Jan 2019</option>
                <option value="DC">Feb 2019</option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Attended</th>
            <th scope="col">Possible Meetings</th>
            <th scope="col">TM Percentage</th>
            <th scope="col">Extra credit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>