<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form name="form">

    <div id="sucess" style="color: green"></div>
    <div id="error" style="color: red"></div>

    <input type="file" name="file" id="file">
    <button type="button" onclick="upload()" >Upload</button>

</form>



<script th:src="@{/jquery-3.4.1.min.js}"> </script>
<script th:src="@{/upload.js}"> </script>
</body>
</html>