<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Attendance report</title>
    <script th:src="@{/resource/js/student_report.js}"></script>
</head>
<body>

<div class="col-xs-12 col-sm-9" id="attendance-page" layout:fragment="main-content">

    <div class="row">
        <div class="col-xs-6">
            <fieldset>
                <legend>Cumulative Info</legend>
                <p>Total Sessions Possible: <span id="totalSessionsPossible"></span></p>
                <p>Total Sessions Attended: <span id="totalSessionsAttended"></span></p>
                <p>Attendance percentage: <span id="attendancePercentage"></span></p>
            </fieldset>
<!--            <hr>-->
        </div>
        <div class="col-xs-6">
            <fieldset>
                <legend>Block Attendance Info</legend>

                <form method="post" th:action="@{/student/attendance}">
                    <div class="form-group">
                        <label>Block: </label>
                        <select id="blocksList">
                        </select>
                    </div>
                </form>
                <p>Sessions in Block: <span id="sessionsInBlock"></span></p>
                <p>Total Sessions Attended: <span id="totalSessions"></span></p>
                <p>Percentage attended: <span id="percentage"></span></p>
                <p>Extra credit points: <span id="extraCredit"></span></p>
            </fieldset>
        </div>
    </div>

    <div style="height:300px;overflow:auto;">
        <table class="table" id="student-report">
            <thead>
            <tr>
                <th scope="col">Dates Present</th>
            </tr>
            </thead>
            <tbody id="tbodyid">
            </tbody>
        </table>
    </div>
</div>

<hr>

</body>
</html>