<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Attendance report</title>
    <script th:src="@{/resource/js/student_report.js}"></script>
</head>
<body>

<div class="col-xs-12 col-sm-9" id="attendance-page" layout:fragment="main-content">

    <fieldset>
        <legend>Cumulative Info</legend>
        <p>Total Sessions Possible: <span id="totalSessionsPossible"></span></p>
        <p>Total Sessions Attended: <span id="totalSessionsAttended"></span></p>
        <p>Attendance percentage: <span id="attendancePercentage"></span></p>
    </fieldset>

    <hr>

    <form method="post" th:action="@{/student/attendance}">
        <div class="form-group">
            <label>Block: </label>
            <select id ="blocksList">
            </select>
        </div>
    </form>
    <p>Sessions in Block: <span id="sessionsInBlock"></span></p>
    <p>Total Sessions Attended: <span id="totalSessions"></span></p>
    <p>Percentage attended: <span id="percentage"></span> </p>
    <p>Extra credit points: <span id="extraCredit"></span></p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Present</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>11/12/2018</td>
            <td>false</td>
        </tr>
        <tr>
            <td>11/11/2018</td>
            <td>true</td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

</body>
</html>