<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add TM Session</title>
</head>
<body>
<div class="col-xs-9 col-sm-3" id="attendance-page" layout:fragment="main-content">
    <form th:action="@{/add/session}">

        <div class="form-group">
            <label for="studentID">Student ID</label>
            <input type="text" class="form-control" id="studentID" placeholder="Enter Student ID">
        </div>

        <div class="form-row">
                <label for="tmSessionType">Session Type:</label>
                <select id="tmSessionType" class="form-control">
                    <option selected>TM Check In</option>
                    <option>DC Lecture</option>
                    <option>TM Retreat</option>
                </select>
        </div>
        <div class="form-group">
            <label for="sessionDate">Session Date:</label>
            <input type="date" class ="form-control" id="sessionDate" name="session-date" min="2000-01-01" max="2100-12-31">
        </div>
        <button type="submit" class="btn btn-primary">Save Session</button>
    </form>
</div>

</body>
</html>