<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link th:href="@{/resource/css/simple-sidebar.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="navbar navbar-fixed-top navbar-default" role="navigation" id="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GEEKS MAS</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Welcome Christian</a></li>
                <li><a th:href="@{/login}">Log Out</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<!--Sidebar-->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-nav">
        <ul class="nav">
            <li class="active"><a th:href="@{/add/session}">Add TM Checkin</a>

            </li>
            <li><a href="#">Upload The meditation file</a></li>
            <li><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a th:href="@{/student/attendance}">Student attendance</a>
                    </li>
                    <li>
                        <a th:href="@{/entry/report}">Report By Entry</a>
                    </li>
                    <li>
                        <a th:href="@{/faculty/report}">Faculty report</a>
                    </li>
                </ul>
            </li>

            <li class="nav-divider"></li>

        </ul>
    </div>
    <!--/.well -->
</div>

<div class="col-xs-9 col-sm-3" id="attendance-page">

    <form th:action="@{/add/session}">

        <div class="form-group">
            <label for="studentID">Student ID</label>
            <input type="text" class="form-control" id="studentID" placeholder="Enter Student ID">
        </div>

        <div class="form-row">
                <label for="tmSessionType">Session Type:</label>
                <select id="tmSessionType" class="form-control">
                    <option selected>TM Check In</option>
                    <option>DC Lecture</option>
                    <option>TM Retreat</option>
                </select>
        </div>
        <div class="form-group">
            <label for="sessionDate">Session Date:</label>
            <input type="date" class ="form-control" id="sessionDate" name="session-date" min="2000-01-01" max="2100-12-31">
        </div>
        <button type="submit" class="btn btn-primary">Save Session</button>
    </form>
</div>

</body>
</html>