<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
</head>
<body>

<div th:fragment="sidebar" class="row row-offcanvas row-offcanvas-left" >
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav">

                <li class="active"><a th:href="@{/add/session}">Add TM Session</a></li>
                <li><a th:href="@{/sessions}">View TM Sessions</a></li>
                <li><a href="#">Upload The meditation file</a></li>
                <li><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a th:href="@{/student/attendance}">Student attendance</a>
                        </li>
                        <li>
                            <a th:href="@{/entry/report}">Report By Entry</a>
                        </li>
                        <li>
                            <a th:href="@{/faculty/report}">Faculty report</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-divider"></li>

            </ul>
        </div>
        <!--/.well -->
    </div>


</body>
</html>